@import 'bootstrap.min.custom.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #333F48;
  color: white;
}

.App {
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: #5f6368;
}